.title{
    color: white;
    font-size: 4em;
    font-family: 'Protest Strike', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 4px 6px black;
    margin-top: 0;
    margin-bottom: 16px;
}

.secondTitle{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    text-shadow: 0 2px 4px black;
    margin: 0;
}

.mtgEdmontonLogo{
    font-size: 4.5em;
    background-color: #003c62;
    margin: 0;
    padding: 0.3em 0.45em;
    border-radius: 10px;
    font-family: 'Protest Strike', sans-serif;
    color: black,
}

.heroContainer {
  display: flex;
  min-height: 60vh;
  background-position: 0% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  min-width: 70%;
  align-items: center;
}

.inlineFlex {
  display: inline-flex;
}

.textContainer {
  display: inline-flex;
  text-align: left;
  flex-direction: column;
}

.paddedText {
  padding-left: 32px;
  display: inline-block;
}

@media (max-width: 780px) {

  .heroContainer {
    min-height: 40vh;
    background-position: center;
  }

  .innerContainer {
    flex-direction: column;
    min-width: 90%;
  }

  .paddedText {
    padding-left: 0;
    text-align: center;
  }

  .mtgEdmontonLogo {
    font-size: 2.8rem;
    margin: 1rem;
  }

  .title {
    text-align: left;
    margin: 1rem;
    font-size: 2.3rem;
  }

  .secondTitle {
    text-align: left;
    font-size: 1.4rem;
    margin: 1rem;
  }
}