.storeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    
  }
  
  .storeDetails h2 {
    font-family: "Protest Strike", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .storeDetails p {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .button{
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    padding: 1rem 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: white;
    width:100%;
}

.website{
    background-color: #003c62;
}

.website:hover{
  background-color: #005991;
  transition: 0.1s linear;
}